<div class="row">
  <main class="col-md-12">

    <!-- Start your code here -->

    <h2>Welcome to the About section of this website</h2>
    <p>
      I am Tarik Ozturk, I am currently studying Computer Programming & Analysis
      at Seneca College. This website is for my WEB322's course assignment-6.
    </p>
    <p>In this website, you are able to log-in, add student, add course, display
      course, display student, and delete data.</p>
    <p>All of the things you can do will not be stored locally. And our program
      will connect to the server to fetch, or update the data.</p>
    <br />
    <!-- End your code here  -->

  </main>
</div>